.el-card {
    margin: 5px;
}

.el-card .el-button{
    width: 100%;
}

.el-container {
    background: white;
    width: 90vw;
    height: 90vh;
    border-radius: 25px;
}

.el-header {
    background: dimgrey;
    border-radius: 25px 25px 0 0;
    height: auto;
}

.el-main{
    overflow: hidden;
}

.el-footer{
    height: 35px;
    text-align: center
}

.el-row{
    margin: 3px;
}
